@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body {
	background-image: url('assets/bg/23.png');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Open Sans';
	text-align: center;
	color: #ffffff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

div {
	margin: 25px;
}

span {
	font-size: 15px;
}

a {
	text-decoration: none;
	color: #ffffff;
}

select {
	border: none;
	border-radius: 2px;
	box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
	font-size: 15px;
	font-family: 'Open Sans';
	margin: 2px;
}